.about {
	position: relative;
	text-align: center;
	padding: 40px;
}


.sub-block {
    width: 50%;
    left: 0;
    margin-bottom: 70px;
    text-align: right;
}


.sub-block:nth-of-type(2n) {
    float: right;
    text-align: left;
    margin-left: 50%;
	margin-top: 30px; 
}

.sub-block:nth-of-type(2n) .picture {
    float: left;
    margin-left: -90px;
}


.sub-block:nth-of-type(2n) .discription {
    margin-right: 0;
    margin-left: 120px;
    text-align: left;
}

.sub-block:nth-of-type(2n) .content {
    margin-right: 0;
    text-align: left;
}

.picture {
	float: right;
	margin-right: -90px;	
}


.discription {
	text-align: right;
	font-family: Montserrat;
	font-size: 16px;
	color: #222;
	margin-right: 120px;
	
}

.content {
	text-align: right;
	font-family: DroidSerif;
	font-size: 16px;
	color: #777;
	font-style: normal;
}


.line {
	z-index: -1;
	width: 2px;
	bottom: 0%;
	background: #BEBEBE;
	margin: 0;
	position: absolute;
	margin-top: 200px;
	left: 50%;
	top: 0%;
	content: '';
	height: 1100px;
	
}


@media (max-width: 940px) {
	.line {
		display: none;
	}
	.sub-block {
		width: 100%;
		text-align: center;
		margin-bottom: 50px;
	}

	.discription {
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	color: #222;
	margin: 0;
}

.sub-block:nth-of-type(2n) .discription {
    margin: 0;
   	text-align: center;
}
	.content {
	text-align: center;
	font-family: DroidSerif;
	font-size: 16px;
	color: #777;
	font-style: normal;
}

.sub-block:nth-of-type(2n) .content {
    margin-right: 0;
    text-align: center;
}

.picture {
	float: none;
	margin: 0;
	text-align: center;	
}
.sub-block:nth-of-type(2n) .picture {
    float: none;
    margin:0;
    text-align: center;	
}



}