

.header {
    background-color:rgba(0,0,0,.3);
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	background-position: 0 -0px;
    height: 600px;
	margin-top: -40px;
}

.logo {
    margin-left: 20px;
    float: left;
}


.navigation {
    margin-right: 20px;
    padding-top: 30px;
}


.menu a {
    color: #ffffff;
    text-decoration: none;
}


.menu a:hover {
    text-decoration: underline;
}


.navigation ul {
    float: right;
    margin: 0;
    overflow: hidden;
    text-transform: uppercase;
    height: 23px;
}


.menu li {
    float: left;
    list-style-type: none;
    margin: 20px;
    margin-top: 7px;
}


.welcome {
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    font-family: DroidSerif;
    font-style: italic;
    color: #ffffff;
    margin: 210px 0 0 0;
}


.meat {
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;   
    font-family: Montserrat;
    letter-spacing: 1px;
    margin: -35px auto -30px;
}

.button-wrap {
    text-align: center;
    margin: 40px;
}

.button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px 40px;
    background-color: #fed136;
    border-radius: 3px;
    text-align: center;
}

.button:active {
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.menu-btn {
    display: none;
    margin: 0 auto;
    width: 30px;
    border-top: 4px solid #fff;
    padding: 5px 0 0 0;
    cursor: pointer;
}

.menu-btn:after, .menu-btn:before {
    content: '';
    display: block;
    height: 4px;
    margin: 0 0 5px 0;
    background: #fff;
}


@media screen and (max-width: 768px) {

    .header {
        height: 300px;
    }


    .menu-btn {
        display: block;
    }

    .meat p {
        font-size: 30px;
    }

    .welcome {
        margin: 20px;
    }

    .welcome p {
        font-size: 25px;
    }

    .logo {
        text-align: center;
        float: none;
    }

    .menu {
        display: none;
    }

    .button-wrap{
        text-align: center;
        margin-top:55px;
    }
    .button  {
        margin: 0;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        padding:15px  30px;
        background-color: #fed136;
        border-radius: 3px;
        font-size: 10px;
    }

    .button :active {
        box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }

}





@media screen and (max-width: 360px){

    .button-wrap{
        margin-top: 15px;
    }

}





@media screen and (max-width: 290px){

    .meat{
        margin-top:0;
    }
}

